services:
  payment:
    build: .
    container_name: payment-service-payu
    ports:
      - "7000:7000"
    environment:
      - MONGO_URI=mongodb+srv://Jcarvajal0810:Nutella_0810@sharedm0.d3q2w0n.mongodb.net/paymentdb?retryWrites=true&w=majority&appName=SharedM0
      - PORT=7000
      - PAYU_ACCOUNT_ID=512321
      - PAYU_MERCHANT_ID=508029
      - PAYU_API_LOGIN=pRRXKOl8ikMmt9u
      - PAYU_API_KEY=4Vj8eK4rloUd272L48hsrarnUA
      - PAYU_PUBLIC_KEY=PKaC6H4cEDJD919n705L544kSU
    restart: unless-stopped